= f.error_messages

.responsive-form
	.main-fields
		%h2.form-label= f.label :title
		= f.text_field :title, :class => "big-input", :disabled => @disabled, :placeholder => "Generates the permalink."
		.note.required *Required
		%h2.form-label= f.label :description
		.note Displayed on Link Category page, under Title.
		= f.text_area :description, :class => "big-area"
- fancy_submit admin_link_categories_path do
	= f.submit "Save category"
