- content_for :meta_title do
  == #{@cms_config['site_settings']['links_title']} Categories

- content_for :head do
  %style{:type => "text/css", :media => "screen"}
    ul.lc { list-style: none; margin: 0 0 0 -30px; }
    ul.lc ul { margin: 0 0 0 -20px; }
    ul.lc li { line-height: 2em; }
    div#lc-title-header { float: left; width: 60px; font-weight: bold; color: #666; margin: 0 0 0 10px; }
    div#lc-options-header { float: right; width: 60px; text-align: left; font-weight: bold; color: #666; }
    div#lc-resources-header { float: right; width: 100px; text-align: left; font-weight: bold; margin-right: 20px; color: #666; }
    div#lc-resources { float: left; margin-right: 20px; }
    div.lc-title { float: left; margin-right: 20px; }
    div.lc-options { text-align: left; float: right; width: 60px; }
    div.lc-resources { float: right; margin-right: 48px; width: 60px; text-align: left; }
    ul.sortable li { border-bottom: #ccc 1px solid; }
    h2.category { font-family: Tahoma, Arial, sans-serif; font-size: 1.2em; margin: 20px 0px 0px 10px}
    ==ul.top-options { margin: 0; padding: 0; list-style: none; }
    ==.pagination { margin: 5px 10px; }
    ==.link-category { border: 1px solid rgba(12, 60, 84, .5); padding: 8px; margin: 4px 0 0; }
    ==.link-category .category { font-size: 1.4em; }
    ==.link-category .link-category { border-style: dotted; margin-right: -8px; border-right: 0; background: rgba(0,0,0,.05); }
    div#droppable_top { height: 10px; background: #efefef; margin: 0; }
    div#droppable_top span, div.droppable span { display: none; font-size: .9em; font-weight: bold; }
    div.droppable { height: 10px; background: #dedede; margin-left: 20px; clear: both; }
    ==.menu-item { border-top: #ccc 1px solid; }
    div.draghover span { display: block !important; padding: 5px; background: #e7ffe1 !important; border-left: 1px dotted #296e19; line-height: 25px; position: relative; z-index: 5000000; top: -40px; border: 1px dotted #5a9605; }
    div.draghover { background: #3b6232; }
    ==.menu-item-inner { background: #fff; }
#link-category-index

  %h1= large_icon('Folder2') + ' ' + yield(:meta_title).strip

  %div.box
    #reorder_status.gray.float-right{:style => "display: none"}
      = spinner
      Reordering categories...
    %span.hmenu
      = icon "Plus", new_admin_link_category_path
      = link_to "Make a new category", new_admin_link_category_path
    = clear

  %br

  .lc-header
    #lc-title-header
      Title
    #lc-options-header
      Options
    #lc-resources-header
      Resources
  = clear
  .draggable#droppable_top
    %span Drop to top level navigation.
  = drop_receiving_element("droppable_top", :hoverclass => "draghover", :url => receive_drop_admin_link_categories_path + "?parent_id=", :method => :get, :loading => "$('ajax_spinner').src='#{spinner_loc}'; $('reorder_status').show();", :success => "$('ajax_spinner').src='#{ok_loc}'", :failure => "$('ajax_spinner').src='#{exclamation_loc}'", :update => "link-category-index" )

  = render :partial => "list_of_categories", :locals => {:parent_id => nil}
  =clear
  %br

  %p
    %strong Note about deleting categories:
    == You can only delete categories without #{@cms_config['site_settings']['link_title'].pluralize} assigned to it.
    
