= hidden_field_tag(:redirect_path, session[:redirect_path])
- @responsive = true
- @body_class = "responsive-form-body"
= f.error_messages
- content_for :head do
  %script{:type => "text/javascript"}
    jQuery(document).ready(function() {
    setLink();
   
    }); 
    function setLink(){
    try {
    document.getElementById('preview_link_body').value = tinyMCE.get('link_body').getContent();
    }
    catch(err) {
    document.getElementById('preview_link_body').value = document.getElementById('link_body').value;
    }
    document.getElementById('preview_link_title').value = document.getElementById('link_title').value
    document.getElementById('preview_link_url').value = document.getElementById('link_url').value
    document.getElementById('preview_link_blurb').value = document.getElementById('link_blurb').value
    document.getElementById('preview_link_link_category_id').value = document.getElementById('link_link_category_id').value
    document.getElementById('preview_link_public').checked = document.getElementById('link_public').checked
    document.getElementById('preview_link_featured').checked = document.getElementById('link_featured').checked
    document.getElementById('preview_link_description').value = document.getElementById('link_description').value
    document.getElementById('submit-preview').click();
    }


.responsive-form
  %fieldset
    -if @link_categories.blank?
      = link_to("Please create at least one category before trying to save.", admin_link_categories_path, :class => "required", :style => "color: #AC0000")

    .main-fields
      %h2.form-label= f.label :title
      .note
        %span.required *Required
        Title is used to generate the permalink.
      = f.text_field :title, :class => "big-input", :size => 80

      %h2.form-label= f.label :url
      = f.text_field :url, :class => "big-input", :size => 80



      %h2.form-label= f.label :blurb
      = f.text_area :blurb, :class => "big-area"

      - if current_user.is_super_user and !@link.permalink.blank?
        %h2.title.form-label= f.label :permalink, "Permalink"
        = f.text_field :permalink, :class => "big-input", :disabled => @no_edit
        .note Modifies permalink.

      = clear
    #main-details.details.options
      #options
        %h3 Details
        = f.check_box :public
        = f.label :public, "Approve for Public Viewing"
        %br
        = f.check_box :featured
        = f.label :featured, "Feature"
        %br
        = f.check_box :restrict_link
        = f.label :restrict_link, "Hide #{@cms_config['site_settings']['link_title']} Detail Page", :id => "link_restrict_link_label"
        %br
        %ul
          %li
            = f.label :link_category_id, "Primary Category"
            %br
            = f.select :link_category_id, LinkCategory.all.sort_by(&:title).collect {|ac| [ac.title, ac.id]}, {:include_blank => "Select a main category"}, :selected => current_user.id
          %li
            - unless current_user.is_contributor_only?
              %div{:class => (!@link.new_record? and @link.link_categories(:conditions => {:active => true}).count == 0 ? "bold red" : nil)}
                = f.label :link_category_ids, link_to("Secondary Categories", "javascript:void(0)", :id => "display-secondary-categories")
                = render :partial => 'admin/shared/help_tip', :locals =>{:tip_headline => "", :tip_text => "Secondary Categories are categories an link is associated with that are not the primary category. The link will use settings (such as side column) from the main category, while still appearing on the secondary categories' lists of links."}
              #secondary-categories
                %img{:src =>"#{css_icon("Cancel","","16x16","red")}", :title =>"close", :alt=> "close box icon", :class => "close-icon", :onclick => "jQuery('#secondary-categories').slideUp()"}
                - for link_category in @link_categories
                  %span.category_checkbox
                    = check_box_tag "link[link_category_ids][]", link_category.id, @link.link_categories.include?(link_category), :id => dom_id(link_category)
                    = label_tag dom_id(link_category), "#{link_category.name}"
        = clear
        %br
        = f.label :description, "Short Description"
        = render :partial => 'admin/shared/help_tip', :locals =>{:tip_headline => "", :tip_text => "The Short Description is used for the Meta Description and the feature box description of the link."}
        = f.text_area :description, :class => "small-area"
        %br
        = f.label :tag_list, "Tags"
        = f.text_field :tag_list, :class => "small-input inline-input"
        .note Separate words or phrases with a comma
    = clear
    #body-wrapper
      .options#body-details
        .inserts
          %strong Insert:
          %br
          = render :partial => "admin/shared/parser_help"
          - unless @link.title.blank?
            = link_to("#{icon('Picture')} Attached Image", admin_link_images_path(@link, :fancy => "true"), :class => "fancy-iframe")
          = render :partial => "admin/shared/asset_options"
          = render :partial => "admin/shared/insert_link"
          = render :partial => "admin/shared/insert_map"

      %div{:style => "width: 560px;"}
        %h2.form-label
          = f.label :body

      = f.text_area :body, :size => "100x80", :class => "mceEditor"
      = clear
    - fancy_submit admin_links_path do
      = f.submit "Save #{@cms_config['site_settings']['link_title']}"

    = render :partial => 'admin/pages/responsive_preview', :locals => {:controller => "links", :ajax => true, :extended => false}
  - content_for :head do
    %style{:type => "text/css"}
      - if @link.restrict_link
        == #body-wrapper { display: none; }
        == #link_body_ifr { height: 700px !important; }
      ==#secondary-categories { padding: 5px; border: 1px solid #ccc; background: #fff; color: #333; position: absolute; width: 200px; font-size: .9em; height: 200px; overflow: auto; -moz-box-shadow: 0 4px 10px rgba(0,0,0,.6); -webkit-box-shadow: 0 4px 10px rgba(0,0,0,.6); box-shadow: 0 4px 10px rgba(0,0,0,.6); }
    - content_for :footer do 
      %script{:type => "text/javascript"}
        jQuery(document).ready(function() {
        jQuery("#secondary-categories").hide();
        jQuery("#display-secondary-categories").click(function()
        {
        jQuery("#secondary-categories").slideToggle(500);
        });
        jQuery(".fancy-iframe").fancybox({ 
        'zoomSpeedIn': 300,
        'zoomSpeedOut': 300,
        'overlayShow': true,
        'hideOnContentClick': 'true',
        'easingOut': 'easeOutQuad',
        'easingIn': 'easeInQuad',
        'type': 'iframe',
        'width': 910,
        'autoScale': true,
        'height':"90%"
        }); 
        jQuery(".fancy-inline").fancybox({ 
        'zoomSpeedIn': 300,
        'zoomSpeedOut': 300,
        'overlayShow': true,
        'hideOnContentClick': false,
        'hideOnOverlayClick': false,
        'type': 'inline',
        'showCloseButton' : false,
        'autoScale': true
        });
        jQuery("#link_restrict_link").click(function()
        {
        jQuery("#body-wrapper").toggle();
        });
        });
        function addtext(text) {
        tinymce.get("link_body").insertContent(text);
        }


      
  - content_for :pre_footer do
    %div{:style => "display: none;"}
      - form_remote_for :preview_link, :url => post_preview_admin_links_path, :method => "put",:success => "setPreviewContent();", :html => {:name => "post_preview"} do
        = text_field :preview_link, :permalink, :value => @link.permalink         
        = text_area :preview_link, :body
        = text_area :preview_link, :title
        = text_area :preview_link, :blurb
        = text_field :preview_link, :url
        = text_field :preview_link, :link_category_id
        = check_box :preview_link, :public
        = check_box :preview_link, :featured
        = check_box :preview_link, :restrict_link
        = text_area :preview_link, :description
        = check_box :preview_link, :blurb
        = text_field :id, :value => @link.id
        = submit_tag "submit", :id => "submit-preview"