.link-category
  .category= link_to(link_category.title, [:edit, :admin, link_category])
  %ul.sortable{:id => "tree_#{link_category.id}"}
    - for link in link_category.links.sort_by(&:position)
      - cache("admin-link-categorized-#{link.id}")  do
        %li{:id => "#{dom_id(link)}"}
          .link-title
            ==<i class='fas fa-grip-vertical'></i>
            = link_to(link.title, [:edit, :admin, link])
          .link-options
            = feature_icon_select(link, link.title)
            = link_to("<i class='far fa-copy'></i>", new_admin_link_path(:duplicate_id => link.id), :title => "Copy")
            = link_to("<i class='far fa-edit'></i>", [:edit, :admin, link])
            = trash_icon(link, [:admin, link], "#{link.title}")
          .link-images
            = link_to("<i class='fas fa-images'></i> #{link.images_count}", [:admin, link, :images])
            = image_tag(link.images.sort_by(&:position).first.image.url(:icon), :class => "icon thumb") unless link.images.empty?
          .link-files
            - if link.assets_count < 1
              = link_to("<i class=\"far fa-file-alt\"></i> #{link.assets_count}", [:new, :admin, link, :asset])
            - else
              = link_to("<i class=\"far fa-file-alt\"></i> #{link.assets_count}", [:admin, link, :assets])
          .link-status
            = link.active ? "<span class=\"green\">Approved</span>" : "<span class=\"gray\">Waiting Approval</span>"
        = clear
  - for lc in link_category.link_categories
    = render :partial => "list_of_categorized_links", :locals => {:link_category => lc}, :cache => true
  = sortable_element("tree_#{link_category.id}", :url => reorder_admin_links_path + "?link_category_id=#{link_category.id}", :method => :put, :loading => "$('ajax_spinner').src='#{spinner_loc}'; $('reorder_status').show();", :success => "$('ajax_spinner').src='#{ok_loc}'", :failure => "$('ajax_spinner').src='#{exclamation_loc}'", :complete => visual_effect(:fade, "reorder_status", :delay => 1))
