%li{:id => "#{dom_id(paginated_link)}"}
  .link-title
    = link_to(paginated_link.title, [:edit, :admin, paginated_link])
  .link-options
    = feature_icon_select(paginated_link, paginated_link.title)
    = icon "Write", [:edit, :admin, paginated_link]
    = trash_icon(paginated_link, [:admin, paginated_link], "#{paginated_link.title}")
  .link-images
    = icon "Picture", [:admin, paginated_link, :images]
    = link_to paginated_link.images_count, [:admin, paginated_link, :images]
    = image_tag(paginated_link.images.sort_by(&:position).first.image.url(:icon), :class => "icon thumb") unless paginated_link.images.empty?
  .link-status
    = paginated_link.active ? "<span class=\"green\">Approved</span>" : "<span class=\"gray\">Waiting Approval</span>"
  = clear