%ul.alphabet
  - ("a".."z").each do |letter|
    - if params[:letter] and params[:letter] == letter
      %li.selected= letter.capitalize
    - else
      %li= link_to(letter.capitalize, "/admin/links?letter=#{letter}")
= clear
%div.link-title-header
  Title
%div.link-options-header
  Options
%div.link-images-header
  Images
%div.link-status-header
  Status
= clear
%ul.sortable.paginated{:id => "alphabetical-links"}
  = render :partial => "paginated_link", :collection => @links
  
= will_paginate @links