- content_for(:meta_title) do
  =@cms_config['site_settings']['links_title']
- content_for :head do
  %style{:type => "text/css", :media => "screen"}
    ul.sortable { list-style: none; margin: 4px 0 0 -32px; }
    ul.sortable ul { margin: 4px 0 0 -20px; }
    ul.sortable li { line-height: 2em; }
    ul.sortable li { border-bottom: 4px solid rgba(0,0,0,.05); background: rgba(255,255,255,.35); }
    div.link-title-header { float: left; width: 60px; color: #666; margin: 0 0 0 6px; }
    div.link-options-header { float: right; width: 134px; text-align: left; color: #666; }
    div.link-images-header { float: right; width: 100px; text-align: left; margin-right: 20px; color: #666; }
    div.link-files-header { float: right; width: 100px; text-align: left; margin-right: 20px; color: #666; }
    div.link-testimonials-header { float: right; width: 100px; text-align: left; margin-right: 20px; color: #666; }
    div.link-status-header { float: right; width: 150px; text-align: left; margin-right: 20px; color: #666; }
    div.link-images { float: left; margin-right: 20px; }
    div.link-title { float: left; margin-right: 20px; width: 340px;  }
    ul.paginated div.link-title { padding-left: 10px; }
    div.link-options { text-align: right; float: right; width: 134px; }
    div.link-images { float: right; margin-right: 20px; width: 100px; text-align: left; }
    div.link-files { float: right; margin-right: 20px; width: 100px; text-align: left; }
    div.link-testimonials { float: right; margin-right: 20px; width: 100px; text-align: left; }
    div.link-status { float: right; margin-right: 20px; width: 150px; text-align: left; font-size: .8em; }
    h2.category { font-family: Tahoma, Arial, sans-serif; font-size: 1.2em; margin: 20px 0px 0px 10px;}
    ==ul.top-options { margin: 0; padding: 0; list-style: none; }
    ==.pagination { margin: 5px 10px; }
    ==.link-category { margin: 4px 0 0; }
    ==.link-category .category { font-size: 1.4em; padding: 8px;  }
    ==.link-category .link-category { margin-right: 0; margin-left: 8px; margin-top: 0; border-right: 0; background: rgba(0,0,0,.025); }
- if @paginate_link_index 
  .float-right
    %ul.top-options
      %li= link_to("Show Category View", "/admin/links?paginate_link_index=false", :title => "Display sortable categorized view of Links.")
      - if !@cms_config['site_settings']['paginate_link_index']
        %li= link_to("Save as default view", "/admin/links?default_view=paginate")
  %h1= '<i class="fas fa-link"></i> ' + "#{@cms_config['site_settings']['links_title']}"
  .box
    .float-right= render :partial => "/shared/search"
    %span.hmenu
      = link_to "<i class=\"fas fa-plus-circle\"></i> Make a new #{@cms_config['site_settings']['link_title']}", new_admin_link_path
    %span.hmenu
      = link_to "<i class=\"far fa-folder\"></i> Manage Categories", admin_link_categories_path
  =clear
  = render :partial => "paginated_index"
- else
  .float-right
    %ul.top-options
      %li= link_to("Show Alphabetical View", "/admin/links?paginate_link_index=true", :title => "Display paginated alphabetical view of all Links.")
      - if @cms_config['site_settings']['paginate_link_index']
        %li= link_to("Save as default view", "/admin/links?default_view=paginate")
  %h1= '<i class="fas fa-link"></i> ' + "#{@cms_config['site_settings']['links_title']}"
  .box
    #reorder_status.gray.float-right{:style => "display: none"}
      = spinner
      Reordering
      = @cms_config['site_settings']['links_title']
    %span.hmenu
      = link_to "<i class=\"fas fa-plus-circle\"></i> Make a new #{@cms_config['site_settings']['link_title']}", new_admin_link_path
    %span.hmenu
      = link_to "<i class=\"far fa-folder\"></i> Manage Categories", admin_link_categories_path

  %br
  %div.link-title-header
    Title
  %div.link-options-header
    Options
  %div.link-images-header
    Images
  %div.link-files-header
    Files
  %div.link-status-header
    Status
  = clear
  - for link_category in LinkCategory.all(:conditions => {:link_category_id => nil})
    .link-category
      .category= link_to(link_category.title, [:edit, :admin, link_category])
      %ul.sortable{:id => "tree_#{link_category.id}"}
        - for link in link_category.links.sort_by(&:position)
          %li{:id => "#{dom_id(link)}"}
            .link-title
              ==<i class='fas fa-grip-vertical'></i>
              = link_to(link.title, [:edit, :admin, link])
            .link-options
              = feature_icon_select(link, link.title)
              = link_to("<i class='far fa-copy'></i>", new_admin_link_path(:duplicate_id => link.id), :title => "Copy")
              = link_to("<i class='far fa-edit'></i>", [:edit, :admin, link])
              = trash_icon(link, [:admin, link], "#{link.title}")
            .link-images
              = link_to("<i class='fas fa-images'></i> #{link.images_count}", [:admin, link, :images])
              = image_tag(link.images.sort_by(&:position).first.image.url(:icon), :class => "icon thumb") unless link.images.empty?
            .link-files
              - if link.assets_count < 1
                = link_to("<i class=\"far fa-file-alt\"></i> #{link.assets_count}", [:new, :admin, link, :asset])
              - else
                = link_to("<i class=\"far fa-file-alt\"></i> #{link.assets_count}", [:admin, link, :assets])
            .link-status
              = link.active ? "<span class=\"green\">Approved</span>" : "<span class=\"gray\">Waiting Approval</span>"
            = clear
      - for lc in link_category.link_categories
        = render :partial => "list_of_categorized_links", :locals => {:link_category => lc}

      = sortable_element("tree_#{link_category.id}", :url => reorder_admin_links_path + "?link_category_id=#{link_category.id}", :method => :put, :loading => "$('ajax_spinner').src='#{spinner_loc}'; $('reorder_status').show();", :success => "$('ajax_spinner').src='#{ok_loc}'", :failure => "$('ajax_spinner').src='#{exclamation_loc}'", :complete => visual_effect(:fade, "reorder_status", :delay => 1))

