%h1= yield(:meta_title)
- if @cms_config['site_settings']['alphabetize_links']
  %ul.alphabet-list
    - ("a".."z").each do |letter|
      - if params[:letter] and params[:letter] == letter
        %li.selected= letter.capitalize
      - else
        %li= link_to(letter.capitalize, "?letter=#{letter}")
= will_paginate @links if (!@cms_config['site_settings']['links_pagination_position'] or @cms_config['site_settings']['links_pagination_position'] == "top" or @cms_config['site_settings']['links_pagination_position'] == "both")
= render :partial => "links/link_for_list", :collection => @links
= will_paginate @links if (@cms_config['site_settings']['links_pagination_position'] == "both" or  @cms_config['site_settings']['links_pagination_position'] == "bottom")