- if @link_category
  - @link_category.link_category_id.blank? ? lc = @link_category : lc = LinkCategory.find_by_id(@link_category.link_category_id)
  .link_main_category
    - if section.section_format == "with-thumb"
      - if lc.images.empty?
        - image_path = nil
      - else
        - image = lc.images.sort_by(&:position).first
        - image_path = lc.images.sort_by(&:position).first.image(:large)
      ==<a href="#{link_category_path(@link_category)}" class="link" title="#{@link_category.title}" style="background-image: url(#{image_path})">
      - unless lc.images.empty?
        = image_tag(image.image(:large), :alt => image.image_title, :title => image.image_title)
      %h2= lc.title
      == </a>
      - if !lc.link_categories.active.empty?
        .link_sub_categories
          - for c in lc.link_categories.active
            = render :partial => "link_categories/link_category_with_image_for_list", :locals => {:category => c}# unless c.links.empty?
    - else
      %h2.top-headline= section.title
      %ul.list_of_links.categories
        = render :partial => "link_categories/link_category_for_list", :locals => {:category => lc}