- @link_categories = LinkCategory.all(:conditions => {:link_category_id => nil})
%h2.top-headline= section.title
%ul.list_of_links.categories
  - for category in @link_categories
    - unless category.links.empty? and category.link_categories.empty?
      - if @link_category and @link_category == category
        %li.sidebar_link_active
          = link_to(h(category.title), category)
          - if !category.link_categories.active.empty?
            %ul.list_of_links.categories
              - for c in category.link_categories.active
                = render :partial => "link_categories/link_category_for_list", :locals => {:category => c} unless c.links.empty?
      - else
        %li
          - if category.links.empty?
            = h(category.title)
          - else
            = link_to(h(category.title), category)
          - if !category.link_categories.active.empty?
            %ul.list_of_links.categories
              - for c in category.link_categories.active
                = render :partial => "link_categories/link_category_for_list", :locals => {:category => c} unless c.links.empty?
