- content_for :meta_title do
  = @link_category.title
  = @cms_config['site_settings']['link_title'].pluralize
%h1= yield(:meta_title)
= render :partial => "links/link_for_list", :collection => @links
= render :partial => "links/sidebar"

