.link_for_list
  - if link_for_list.restrict_link
    %h2=link_for_list.title
  - else
    %h2= link_to(link_for_list.title, [link_for_list.link_category, link_for_list])
  - unless link_for_list.images.empty?
    %div{:class => "images small"}
      - image = link_for_list.images.sort_by(&:position).first
      - if link_for_list.restrict_link
        = image_tag(image.small_thumbnail, :alt => image.image_title, :title => image.image_title)
      - else
        = link_to(image_tag(image.small_thumbnail, :alt => image.image_title, :title => image.image_title), [link_for_list.link_category, link_for_list], :title => h(image.image_title))
      = clear
  - unless link_for_list.blurb.blank?
    = simple_format(link_for_list.blurb)
  .visit-site
    - unless link_for_list.url.blank?
      = link_to("Visit site", link_for_list.url)
  = clear
  
- content_for :head do
  %style{:type => "text/css"}
    == .visit-site { margin-bottom: 20px; }