%h1= @link.url.blank? ? @link.title : link_to(@link.title, @link.url), :target => "#{@cms_config['site_settings']['links_in_new_window'] ? '_blank' : ''}"
= @link.body.blank? ? @link.blurb : ninja_parse(@link.body)
- unless @link.url.blank?
  %p= link_to("#{@cms_config['site_settings']['visit_link_text'] ? @cms_config['site_settings']['visit_link_text'] : 'Visit site'}", @link.url, :target => "#{@cms_config['site_settings']['links_in_new_window'] ? '_blank' : ''}")
= clear
- unless @link.tags.empty?
  %p
    Tags:
    = @link.tags.collect{|tag| link_to h(tag.name), links_path(:tag => tag.name)}.join(', ')