- content_for :meta_title do
  - if !params[:tag].blank?
    == #{@cms_config['site_settings']['link_title'].pluralize} by tag: #{h params[:tag]}
  - else
    =@cms_config['site_settings']['links_title']
  = " - Page #{params[:page]}" if params[:page]
- if !@cms_config['site_settings']['enable_responsive_layouts']
  %h1= yield(:meta_title)
  - if @cms_config['site_settings']['alphabetize_links']
    %ul.alphabet-list
      - ("a".."z").each do |letter|
        - if params[:letter] and params[:letter] == letter
          %li.selected= letter.capitalize
        - else
          %li= link_to(letter.capitalize, "?letter=#{letter}")
  =will_paginate @links
  = render :partial => "link_for_list", :collection => @links
  =will_paginate @links
  - if !@cms_config['site_settings']['enable_responsive_layouts']
    = render :partial => "sidebar"
- else
  = render :partial => "shared/slice", :locals => {:column_section_id => nil, :controller => "links", :action => "index"}, :collection => @main_column_sections

