- content_for :meta_title do
  - if !params[:tag].blank?
    == #{@cms_config['site_settings']['link_title'].pluralize} by tag: #{h params[:tag]}
  - else
    =@cms_config['site_settings']['links_title']

%h1= yield(:meta_title)
=will_paginate @links
= render :partial => "link_for_list", :collection => @links
=will_paginate @links
= render :partial => "sidebar"

